body{
    font-family: 'Roboto', sans-serif;
    height:789px;
    background: linear-gradient(135deg,#f5f5f5,#89d6fb  83%);
}


#parks{
    padding-top:200px;  
	border-radius:20px;
    border-radius:5px;
    position: relative;
    top: 58%;
    left: 53.2%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 90% !important;
    
}



#parks img{
	float:left;
	margin-right:10px;
	width:150px;
	height: 95px;
}

#parks article{
    border-radius:5px;
    margin-bottom: 10px;
    padding-left:30px;
    padding-top:30px;
    padding-bottom: 30px;
    cursor: pointer;
    }

    #parks article:hover{
    box-shadow: 0px 10px 30px #c6c6c6;
	transition: 1s;
    }

#parks p{
    font-family: 'Roboto', sans-serif;
	color:#696969;
    text-align: justify;
    padding-right:80px;

}

#parks h1{
    font-family: 'Roboto', sans-serif;
    color:#02577a;
    opacity: 1;
} 
#parks h3{
    font-family: 'Roboto', sans-serif;
    color: #4682B4;
    opacity: 1;
   

}

h1{
    padding-top: 10px;
   
    
}



.fix{
	clear:both;
}

footer{
    position: relative;
    top: 100%;
    left: 53.2%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
